:root {
  --dark-blue: #111825;
  --color-gold: #e5b236;
  --title-font: "";
  --content-font: "Poppins", sans-serif;
}

.title-font {
  font-family: ;
}

.content-font {
  font-family: var(--content-font);
}

.transition-animation {
  transition: all 300ms linear;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* max-width: 700px; */
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  object-fit: cover;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
}

.indicator {
  width: 30px;
  height: 4px;
  background-color: var(--color-gold);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.indicator.active {
  background-color: #bbb;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--dark-blue); /* blue */
}

.explore_menu_list {
  /* max-width: 800px; */
  /* overflow-x: scroll; */
}

.scrollbar::-webkit-scrollbar {
  width: 8px; 
  height: 8px; /* for horizontal scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--dark-blue); /* track color */
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-gold); /* scrollbar thumb color */
  border-radius: 10px;
}

/* .explore_menu_list::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* .explore_menu_list-item .active {
  border: 4px solid var(--dark-blue);
  padding: 2px;
}

.md-explore_menu_list-item .active {
  border: 4px solid var(--dark-blue);
  padding: 2px;
} */
